h1 {
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color: darkred;
}

body {
    background-color: lightgray;
}

fieldset {
    background-color: grey;
    margin-bottom: 8px;
    border-radius: 30px;
    Border-width: 5px;
    padding: 15px;
    border-style: groove;
}

legend {
    color: darkred;
    font-size: 40px;
    
}

input, select{
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    border-bottom: 2px solid;
    background-color: lightgray
}
textarea{
    margin-right: 10px;
    border-radius: 25px;
    border: none;
    border-bottom: 2px solid;
    background-color: lightgray
}

button {
    border-radius: 25px;
    font-size: 15px; 
    margin-left: 10px;
}

label{
    color: darkred;
}
output {
    color: darkred;
    ;
}